* {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
   box-shadow: 0px 0px 20px grey;
    width: 300px;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    margin-bottom: 20px;
    font-style: italic;
}

.input {
    margin-bottom: 10px;
    width: 80%;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid grey;
    transition: all 0.4s ease;
}
.input:hover {
    box-shadow: 0px 0px 10px rgb(139, 0, 137);

}
.input::placeholder{
    color: rgb(33, 33, 33);
}

.sign {
    text-decoration: none;
    color: rgb(139, 0, 137);
    
}


button {
    width: 70%;
    padding: 13px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 20px rgb(139, 0, 137);
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: rgb(139, 0, 137);
    transition: all 0.4s ease;
}
button:hover {
    background-color: transparent;
    border: 1px solid rgb(139, 0, 137);
    color: rgb(139, 0, 137);
    transform: scale(0.9);
    box-shadow: none;
    
}

.box {
    display: flex;
    gap: 45px;
    margin-bottom: 20px;
}
.forget {
    text-decoration: none;
    color: rgb(139, 0, 137);
}

input[type="checkbox"] {
    accent-color: rgb(139, 0, 137);
    width: 15px;
  height: 15px;
}

.icons {
       margin-right: 30px;  
}

.icons a {
    margin-left: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    background-color: rgb(139, 0, 137);
    font-size: 24px;
    color: white;      
    border: 2px solid rgb(139, 0, 137);
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(139, 0, 137);
    text-decoration: none;
    transition: all 0.4s ease;
}
.icons a:hover {
    background-color: transparent;
    border: 2px solid rgb(139, 0, 137);
    color: rgb(139, 0, 137);
    box-shadow: none;
    transform: scale(0.8);
}

/* Wrap box for icons inside input */
.input-box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* icon style */
.input-box i{
  font-size: 22px;
  color: rgb(139, 0, 137);
}

/* popup */
.popup{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.8);
  display:none;
  justify-content:center;
  align-items:center;
}

.popup-card{
  width: 300px;
  background:white;
  padding:25px;
  border-radius:15px;
  text-align:center;
  animation: zoom 0.4s ease;
  box-shadow:0px 0px 20px rgb(139,0,137);
}

.popup-card i{
  font-size:55px;
  color: rgb(139, 0, 137);
}

.popup-card h3{
  margin:10px 0;
  color: rgb(139, 0, 137);
}

@keyframes zoom{
  from{transform:scale(0.5);opacity:0;}
  to{transform:scale(1);opacity:1;}
}

